/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */

:root {
  --square-size: 15px;
  --square-gap: 5px;
  --week-width: calc(var(--square-size) + var(--square-gap));
}

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
  width: 100%;
  display: inline-grid;
  grid-template-areas: "empty days"
                       "months squares";
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

.months {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-rows: calc(var(--week-width) * 4) /* Nov */
                      calc(var(--week-width) * 5) /* Dic */

                      calc(var(--week-width) * 4) /* Ene */
                      calc(var(--week-width) * 4) /* Feb */
                      calc(var(--week-width) * 4) /* Mar */
                      calc(var(--week-width) * 5) /* Abr */
                      calc(var(--week-width) * 4) /* May */
                      calc(var(--week-width) * 4) /* Jun */
                      calc(var(--week-width) * 5) /* Jul */
                      /* calc(var(--week-width) * 4) */ /* Ago */
                      /* calc(var(--week-width) * 4) */ /* Sep */
                      /* calc(var(--week-width) * 5) */ /* Oct */
}

.days,
.squares {
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-columns: repeat(7, var(--square-size));
}

.squares {
  grid-auto-flow: row;
  grid-auto-rows: var(--square-size);
}


/* HEADER */
header {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #000000;
  z-index: 1;
}
header .days{
  text-align: center;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  height: 5rem;
}
#titulo {
  text-align: center;
  padding-top: .5em;
}

.days {
  display: none; /* Oculta los días inicialmente */
  transition: opacity .5s ease-in-out;
  opacity: 0;
}




body {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  background-color: #000;
  color: #f1f1f1;
  margin: 0;
  overscroll-behavior-x: none;
  /* overscroll-behavior-y: none; */
}

ul {
  list-style: none;
}


.graph {
  /* padding: 20px; */
  border: 0px #ff6600 solid;
  margin-top: 2em;
  /* margin: 20px; */
}

.days li:nth-child(odd) {
  visibility: hidden;
}

.squares li {
  background-color: #112112;  /* ebedf0 */
}

.squares li[data-level="1"] {
  background-color: #ebedf0;
}

.squares li[data-level="2"] {
  background-color: #c6e48b;
}

.squares li[data-level="3"] {
  background-color: #7bc96f;
}

.squares li[data-level="4"] {
  background-color: #111114;
}


.squares li {
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Asegúrate de que el tamaño del cuadro sea suficiente para mostrar el número */
  /* width: 30px;
  height: 30px; */
}

.perfil {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}





/* Add media query for mobile devices */
@media (max-width: 600px) {
  :root {
    --square-size: 8vw; /* 15px */
    --square-gap: 2vw;
    --week-width: calc(var(--square-size) + var(--square-gap));
  }
  
  .graph {
    width: 100%;
    grid-template-columns: 15% 1fr;
    margin-bottom: 4em;
  }
  .days{
    margin: 0;
    margin-top: 0rem; /* 2rem */
    padding: 0;
  }
  .months{
    position: relative;
    width: 100%;
    right: 10%;
  }
  .squares {
    width: 100%;
    grid-auto-flow: row;
    padding: 0;
    margin: 0;
    grid-auto-rows: var(--square-size);
  }
  .squares li {
    border-radius: 4px;
  }
}